@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: 0;
}

:root {
  --primary: #318cf6;
  --shade1: #0160c6;
  --shade2: #164676;
  --black: #000000;
  --white: #ffffff;
  --dark: #282828;
  --light: #f2f2f2;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  letter-spacing: 2px;
  background-color: var(--light);
}

img {
  width: 100%;
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
}
/* SCROLL BAR */

/* TYPO & LINKS */
.title {
  font-size: 3rem;
  font-weight: 800;
  color: var(--shade2);
}

.big-text {
  /* font-size: 2.5rem; */
  font-weight: 800;
  color: var(--white);
}

.medium-text {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

.small-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black);
}

.btn {
  border: 2px solid var(--primary);
  border-radius: 0;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 0.5s;
}

.filled-btn {
  background: var(--primary);
  color: var(--white);
}

.filled-btn:hover {
  background: var(--shade1);
  color: var(--white);
}

.outline-btn {
  background: transparent;
  color: var(--primary);
}

.outline-btn:hover {
  background: var(--primary);
  color: var(--white);
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

/* TYPO & LINKS */
.navbar {
  background-color: var(--white);
}
/* NAVBAR */
.navbar-light .navbar-nav .nav-link {
  position: relative;
  color: var(--dark);
  font-size: 1.1rem;
  transition: 0.4s;
  padding-left: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--primary);
}

.navbar-light .navbar-nav .nav-link.active {
  color: var(--primary);
}

.navbar-light .navbar-nav .nav-link.active:after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--primary);
  border-radius: 50%;
}
/* NAVBAR */

#wrapper {
  margin-bottom: 10rem;
}

/* HERO */
.hero-section {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(
      rgba(45, 45, 45, 0.5),
      rgba(45, 45, 45, 0.5)
    ),
    url("https://images.unsplash.com/photo-1541797278110-6eb37eef25c0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=918&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-attachment: fixed;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 1.8rem;
}

.hero-section h6 {
  color: var(--white);
  margin-bottom: 4rem;
}

/* HERO */

/* SLIDER */

.slide-card {
  position: relative;
  width: 100%;
  height: 27rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-card-body h3 {
  position: absolute;
  left: 2rem;
  bottom: 1rem;
  color: var(--white);
  font-size: 1.6rem;
}

/* SLIDER */

/* COVER */
.cover {
  width: 95%;
  height: 80vh;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 5rem;
}

.cover h6 {
  font-size: 1.3rem;
  color: var(--white);
  margin: 1rem 0 4rem 0;
}
/* COVER */

/* CTA */
.calltoaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cta-details h1 {
  margin-bottom: 3rem;
}

/* CTA */

/* EVENTS */
.event-wrap {
  margin-top: 5rem;
}

.event-card {
  background-color: rgb(10 10 15 / 70%);
  color: var(--white);
  padding: 2rem 4rem;
}
/* EVENTS */

/* BLOGS */
.blog-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-card {
  margin: 1rem;
}

.blog-img {
  position: relative;
}

.blog-img img {
  filter: brightness(0.7);
}

.blog-img span {
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 1rem;
  border-radius: 0;
}

.card-body {
  padding: 1rem 0 0 0;
  letter-spacing: 1px;
}

.blog-views svg {
  width: 1.5rem;
}

.card-body h4 {
  font-weight: 600;
}

/* BLOGS */

/* GALLERY */
.gallery-wrap {
  display: flex;
  flex-wrap: wrap;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.1);
}

@supports (display: grid) {
  .gallery-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    grid-gap: 1rem;
  }

  .gallery-wrap,
  .gallery-item {
    margin: 0;
  }
}
/* GALLERY */

/* SPONSOR */
.sponsors {
  background: var(--white);
  padding: 5rem 0;
}

.sponsor-wrap {
  width: 100%;
  margin-top: 5rem;
}

.sponsor-img {
  width: 100%;
  padding: 2rem 0;
  text-align: center;
  margin-bottom: 3rem;
}

.sponsor-img > .title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--dark);
}

/* SPONSOR */

/* FOOTER */
#footer {
  padding: 3rem 0;
  color: var(--white);
  background-color: #282828;
}

.footer-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-row {
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}

#email-input {
  padding: 1rem;
  letter-spacing: 1px;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.social-icon svg {
  width: 3rem;
  fill: var(--white);
  margin: 0 0.5rem;
}
/* FOOTER */

.core-member-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.core-member-icon svg {
  width: 2rem;
  fill: white;
  margin-right: 0.5rem;
}

/* ABOUT PAGE */
.about-hero {
  height: 50vh;
  background-image: linear-gradient(
      rgba(45, 45, 45, 0.5),
      rgba(45, 45, 45, 0.5)
    ),
    url("https://images.unsplash.com/photo-1495616811223-4d98c6e9c869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
  justify-content: space-evenly;
  align-items: center;
  text-align: left;
  padding: 1rem;
}
.about-hero p {
  color: var(--white);
}
/* ABOUT CTA */

.about-img {
  padding: 0 5rem;
  margin-bottom: 2rem;
}

.about-details h6 {
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 2rem;
}

/* ABOUT PAGE */

/* GALLERY */
.core-member-wrap {
  display: flex;
  flex-wrap: wrap;
}

.core-member-item {
  flex: 1 0 24rem;
  margin: 1rem;
  position: relative;
}

.member-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
  opacity: 0.9;
  overflow: hidden;
  width: 0%;
  height: 100%;
  transition: 0.5s ease;
}

.core-member-item:hover .overlay {
  width: 100%;
}

.core-member-info {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
  white-space: nowrap;
}

.core-member-info > p {
  color: white;
}

.exception {
  margin-bottom: 5rem !important;
}

@supports (display: grid) {
  .core-member-wrap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1rem;
  }

  .core-member-wrap,
  .core-member-item {
    margin: 0;
  }
}

/*owl carousel */
.owl-nav {
  position: absolute;
  top: -5.4rem;
  right: 0;
}
.owl-carousel .owl-nav button.owl-prev {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 0;
  padding: 0.7rem 1.5rem !important;
}
.owl-carousel .owl-nav button.owl-next {
  border: none;
  background-color: var(--primary);
  color: var(--white);
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 0;
  padding: 0.7rem 1.5rem !important;
  margin-left: 10px;
}
/* owl carousel ends */

/* projects */
.snippet-head {
  margin-bottom: 7rem;
  text-align: center;
}
.snippet-head-paragraph {
  width: 50%;
  margin: 0 auto;
}
.projects h2 {
  margin-bottom: 3rem;
  font-weight: 600;
}

.project-title {
  font-weight: 600;
}
.project-description {
  font-weight: 400;
  line-height: 1.7rem;
}
.project-points {
  line-height: 1.8rem;
  font-weight: 300;
}

.project-case-study span {
  font-weight: 500;
}
.project-indetails {
  margin-top: 8rem;
}
.project-indetails h6 {
  font-weight: 300;
  line-height: 1.7rem;
  margin-top: 2rem;
}

.project-heading {
  position: relative;
  color: var(--shade2);
  margin: 6rem 0 4rem 1rem;
}
.project-heading::before {
  content: " ";
  position: absolute;
  width: 0.3rem;
  margin-left: -1rem;
  height: 1.7rem;
  background: var(--shade2);
}

.project-card,
.article-card {
  margin-right: 1.5rem;
}
/* project ends */
